.container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button{
  padding: 5px 10px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
}

.button:disabled{
  cursor: not-allowed;
}