.container {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 20px;
    border-radius: 10px;
    gap: 15px;
    transition: all 0.2s ease-in;
}

.container:hover,
.active {
    background-color: #2e374a;
    color: var(--bgOrange);
    font-weight: 600;
    font-size: 18px;
}
